*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;

}
body{
    background-color: rgb(238, 236, 236);
}
.nav{
    width: 100%;
    height: 130px;
    background-color: orange;

    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    justify-content: space-between;
}
.nav-list{
    padding-left: 0;
    margin: 5px 150px;
}
.nav-item{
    margin:0 5px;
    display: inline-block;
    justify-content: space-evenly;
}
.border{
    border: black solid 3px;
}
.borders{
    border: red solid 3px;
}
/* sale-layout */
.sale--Layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(250, 245, 245);
}
.sale-layout{
    height: 40vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.products{
    width: 50%;
    height: 70%;
}

.product{
    width: 30%;
    height: 70%;
    margin-left: 5px;
    overflow-y: hidden;
}
.product-item{
    height: 49%;
    width: 100%;

    display: flex;
    flex-direction: column;
    
}
.img{
    margin-bottom: 5px;
}
img{
    height: 100%;
    width: 100%;
}
/* wrap-layout */
.wrap-layout{

    padding:    5px 80 6px 80;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap ;
    
}
.wrap-layout__item{
    width: 100px;
    height: 100px;
    margin: 13px;
    color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    font-weight: 700;
    /* margin-top: 20px; */
    background-color: red;
}
/* jhjkhj */
.fonts{
    height: 1000px;
    width: 100%;
}