
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    padding: 500px
} */
.bd{
    border: solid red 1px;
}
.container{
 display: flex;
 flex-direction: column;
 align-items: start;
 justify-content: center;
}
.containers{
    height: 250px;
    width: 500px;
    display: flex;
    flex-direction: column;
}
.item1{
    height: 30%;
    width: 100%;
    font-size: 50px;
    color: white;
    background-color: rgb(172, 9, 9);
}
.item2{
    height: 70%;
    width: 100%;

    background-color: rgb(98, 226, 243);
}
.item2 p{
    font-size: 20px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items input{
    font-size: 20px;
}
.btn{
    border-radius: 2.5px;
    background-color: yellowgreen;
    border:  none;
    padding: 5px;
    
}
.btn:hover{
    background-color: rgb(163, 231, 26);
}
.txt{
    padding: 5px;
    border-radius: 2.5px;
    border:  none;
}
.flex__container{
    display: flex;
}
.flex-center{
    justify-content: center;
    align-items:center;
}
.flex-center-main{
    justify-content: center;
}
.flex-cente-cross{
    align-items:center;
}