.header1{
   background-image: url(/Portfolio/Asset/hypnotize_bg.webp);
   width: 1525px;
   height: 746px;
   
}
.header2{
    background-color: rgb(100, 149, 237);
    width: 1517px;
    height: 325px;
    text-align: center;
}
.font{
    font-size: 2em;
    font-weight: bold;
}
.h1{
    color: azure;
}
.body{
    font-family: Georgia;
}
.about_me{
    font-size: 20px;
    opacity: 0.5;   
}
.body{
        background-image: url(./Asset/hypnotize_bg.webp);
        font-family: Georgia;
}
.title{
    font-weight: bold;
}

