*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fffdfd;
    text-decoration: none;
}
.project-container{
    width: 95%;
    margin: 0 auto;  
}

.nav{
    margin: 10px;
    min-height: 90px;
    width: 100%;
}
.nav-left{
    min-height: 100px;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    list-style: none;
}
.nav-right{ 
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    display: flex;
    list-style: none;
    align-items: center;   
}
.nav-right .nav-item1 >select{
    padding: 8px;
    border-width: 0;
    background-color: #eee;
    width: 120px;
    height: 40px;
    font-size: 14px;
    height: 36px;
    font-weight: 550;
}
.nav-right .nav-item2 >button{
    padding: 8px;
    text-align: center;
    border-width: 0;
    background-color: #eee;
    width: 120px;
    height: 40px;
    font-size: 14px;
    height: 36px;
    font-weight: 550;
}
.radius{
    outline: none;
    border-radius: 500px;
}
.nav-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-item1 {
    margin-right: 16px;
}
.nav-item2 img{
    max-height: 90%;
    margin-left: 16px;
}
.nav-item3{
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    width: 50px;
    height: 50px;
}
.nav-item4 input{
    outline: none;
    border-width: 0;
    background-color: #eee;
    width: 870px;
    height: 50px;
    font-size: 16px;
}
.nav-item5 button{
    padding: 8px;
    outline: none;
    margin-left: 30px;
    border-radius: 500px;
    border-width: 0;
    background-color: rgb(10, 10, 10);
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: rgb(250, 249, 249);
}
.border{
    border: 5px solid red;
}
.feature-layout{
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin-bottom: 40px;
}
.feature-item{
    height: 300px;
    margin: 8px;

    display: 1;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
}
.feature-item img{
    object-fit: cover;
}
img{
    height: 100%;
    width: 100%;
}   
.wrap-layout{
    display: flex;
    justify-content: space-around;
    padding: 0 48px 0 48px;
}
.wrap-layout__item img:hover    {  
    background: #ecebeb;
    border-radius: 50%;
    box-shadow:0 0 2em  2em rgba(205, 206, 207, 0.125);
    transition: 0.001s;
}
.wrap-layout__item{ 
    width: 110px;
    height: 55px;
    text-align: center;
    background-color: #fffdfd;
    margin: 20px;
}
.wrap-layout__item img{
    object-fit: cover;
}
.wrap-layout__item a{
    text-decoration: none !important;
}
.border1{
    border-bottom: 1px solid rgb(231, 222, 222);
    width: 100%;
    margin-top: 50px;
}
h1{
    margin-top: 20px;
}
.container-img{
    height: 124px;
    display: flex;    
}
.image{
    padding: 10px;
    width: 40%;
    height: 100%;
}
.image img{
    object-fit: cover;
}
.text{
    padding: 10px;
    width: 50%;
    height: 50px;
}
.Container{
    display: flex;
}
.crd{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.border-radius{
    
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-radius{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.border-radius-item{
    width: 250px;
    height: 250px;
}
.fontsize {
margin-top: 20px;
  font-size: 20px;
}
.border-radius-item img{
    border-radius: 50%;
    object-fit: cover;
}
.landcapce{
    margin-bottom: 100px;
}
.container-landcapce{
    display: flex;
}

.csd{
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 35%;
}
.csd-item1{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.csd-item1 img{
    object-fit: cover;
}
.landcapce h2{
    font-size: 36px;
}
.p1{
    font-size: 18px;
    line-height: 24px;
    font-family: sans-serif;
    font-weight: 600;
}
.small{
    margin-bottom: 50px;
}

.end{
    display: flex;
    padding: 10px;
    width: 100%;
    height: 50%;
    background-color: black;
}
.logo{
    background-color: black;    
    display: flex;
    flex-direction: column;
    width:  50%;
    height: 70%;
}
.iMg{
    margin-bottom: 15%;
    margin-top: 5px;
    background-color: black;
    width: 20%;;
    padding: 10px;
}
.iMg img{
    margin-top: 50px;
    width: 30%;
    max-height: 60%;
    object-fit: contain;
    height: 35px;
    width: 150px;
    background-color: black;
}
.app{
    width: 30%;
    max-height: 35%;
    background-color: black;
    display: flex;
}
.app img{
    border-width: none;
    border-radius: 8%;
    height: 40px;
    width: 150px;
    margin: 10px;
}
.link{
    background-color: black;
    height: 70%;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.link-item1{
    flex: 1;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    padding: 30px;
    margin-top: 20px;
    /* text-decoration: none; */
}
.link-item1 a{
    line-height: 2.2;
    color: rgb(255, 255, 255);
    background-color: black;
}
.link-item1 li{
    font-size: 20px;
    background-color: black;
}

.border2{ 
    margin-top: 70px;
    display: block;
    border: solid 0.8px rgb(214, 214, 212);
}
.and{
    padding: 30px;
    width: 100%;
    height: 70%;
    background-color: black;
}
.end2{
    text-decoration: none;
    background-color: black;
    margin-top: 50px;
}
.product{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.product-list{
    background-color: black;
    display: flex;    
}
.list-item{
    color: rgb(243, 241, 241);
    font-weight: 700;
    margin: 20px;
    list-style: none; 
}
.list-item  >a{
    text-decoration-line:none;
    color: rgb(243, 241, 241);
    background-color: black;
}
.list-item >a >i{
    text-decoration-skip:none ;
    color: rgb(243, 241, 241);
    background-color: black;
}
.end3{
    background-color: black;
    display: flex;
    justify-content: flex-end;
}
.end3 p{
    color: rgb(243, 241, 241);
    background-color: black;
    margin: 10px;
}
/* a {
    color: black;
    transition: box-shadow .4s, color .3s;
    box-shadow: 0 1px black;
}
  
a:hover {
    color: rgb(206, 206, 206);
    box-shadow: 0 1px rgb(255, 255, 253);
} */
.X {
    color: black;
    transition: box-shadow .4s, color .3s;
    box-shadow: 0 1px black;
}
  
.Y:hover {
    color: rgb(206, 206, 206);
    box-shadow: 0 1px rgb(255, 255, 253);
}
  