*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    overflow-x: hidden;   
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 15vh;
    width: 100vw;
    background-color: rgb(238, 238, 223);
    font-family: 'Lato', sans-serif;


}
.navbar a{
    float: left;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    margin-left: 10%;
    margin-top: 0.2px;

}
.navbar1{
    height: 60%;
    width: 100%;
    background-color: black;

}
.navbar2{
    height: 40%;
    width: 100%;
    background-color: #eee;
    /* background-color: cyan; */
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}
.navbar-left{
    height: 100%;
    width: 35%;
    /* background-color: crimson; */
}
.navbar-right{
    height: 100%;
    width: 60%;
    /* background-color: cornflowerblue; */
    
    /* display: flex;
    justify-content: flex-start;
    align-items: center; */
}
.navbar-right1{
    height: 100%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
    overflow-y:hidden ;
}
.border{
    border: 5px solid red
}
.borders{
    border: 2px solid black;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    height:  200vh;
    width: 100vw;
}
.info{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.input{
    font: 400 13.3333px Arial;
    color: -internal-light-dark(black, white);
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    max-width: 275px;
    width: 100%;
    padding: 5px;
}   
.submit{
    margin-top: 5px;
    background-color: #f1c40f;
    font-weight: bold;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    max-width: 150px;
}
.container{
    /* margin-top: 20px; */
    display: block;
    justify-content: center;
    align-items: center;
    height: 30%;
    display: flex;  
}
.product-bigs{
    width: 60%;
    justify-content: center; 
    align-items:  center;       
    display: flex;
    height: 80%;
    flex-wrap: wrap;
}
.product-big{
    margin-left: 8%;
    height: 20%;    
    width: 80%;
    /* flex-direction: column;  
    display: flex;
    justify-content: center;     */
}
.fontsize{

    font-size: 15px;
}
.product-small{
    /* margin-top: 12px; */
    height: 20%;
    width: 10%; 
   
}
.h2s{
    color: darkorange;
    text-align: center;
    font-size: 60px;
}
.premmium{
    display:  block;
    font-weight:bold;
}
.containerVideo{
    text-align: center;
}
.container-Monney{
    /* margin-top: 20px; */
    display: block;
    justify-content: center;
    align-items: center;
    height: 30%;    
    display: flex;  
    /* flex-wrap: wrap; */
    flex-direction: column ; 
    /* overflow: hidden ; */
    overflow-y: hidden;  
}
.product-cc{
    height: 80%;        
    width: 80%;
    display: flex;
    justify-content: center;
    /* overflow-y: hidden;   */
}
.Monney{
    /* margin-top: 90px; */
    height: 100%;
    width: 28%;
}
.magrin-monney{
    margin-left: 1%;
}
.top{
    height: 17%;
    width: 100%;
    background-color: silver;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-weight: 400; 
}
.between{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-weight: 700; 
    overflow-y: hidden;  
}

.bottom{     
    overflow-y: hidden;  
    height: 68%;
    width: 100%; 
    flex-direction: column;
    display: flex;      
    justify-content: center ;
    align-items: center;        
    line-height: 1.8 ;
    /* margin-top: 20px; */

}
.radius{
    border-radius: 20px; 
}
/* .ul{
    
    margin-top: 155px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 15%;
    width: 80%;
    background-color: #ddd;
    padding: 10px;
} 
*/
/* .li{    
    text-decoration: none;
    list-style: none;
    display: list-item;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}  */
.containers--ul{
    width: 100%;
    height: 6%; 
    display: flex;
    justify-content: center; 
}
.container--ul{
    background-color: #ddd;
    height: 100%;
    width: 70%;
    display: flex   ;
    padding: auto;  
}
.end1{
    height: 100%;
    width: 70%;
}
.end2{
    height: 100%;
    width: 30%;
}
.end2S1{
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end2S2{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end2Ss{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.text-decoration{
    text-decoration: none;
}

